/* COLOR */
$primary: #00b9ae;
$text: #1a1a1a;
$light: #f2f3f4;
$gray: #878f9d;
$line: #dcdfe5;
$nav-color: $text;
$nav-active: $primary;

/* SIZE */
$nav-height: 60px;
$content-width: 500px;
$device-width: 420px;
