/* COLOR */
$primary: #001234;
$primary-hover: #004567;
$nav-color: #676d79;
$nav-active: $primary;
$text: #242424;
$light: #f2f3f4;
$gray: #878f9d;
$line: #dcdfe5;

/* SIZE */
$nav-height: 60px;
$content-width: 500px;
$device-width: 420px;
