@import "variables";

.site-mobile {
  height: calc(100% - 40px);
  max-height: 850px;
  left: calc(50% - 150px);
}
.site-info {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: calc(50% + 100px);
  top: calc(50% - 10px);
  transform: translateY(-50%);
  max-width: 320px;
  .icon {
    width: 64px;
    margin-bottom: 15px;
    img {
      border-radius: 10px;
    }
  }
  .site-title {
    font-size: 2.2em;
    margin-bottom: 2px;
    a {
      color: $text;
    }
  }
  a {
    color: $gray;
  }
}
.site-qr {
  margin-top: 10px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  width: 132px;
  height: 132px;
  overflow: hidden;
  border-radius: 10px;
  background-color: #fff;
  transform: translate(0, 0);
  canvas {
    height: 150px;
    width: 150px;
  }
}
.site-qr-text {
  a {
    display: block;
    margin-top: 10px;
    width: 132px;
    font-size: 10px;
    text-align: center;
    white-space: nowrap;
  }
}
.site-credit {
  display: block;
  font-size: 9px;
  text-transform: uppercase;
  margin-top: 40px;
  color: $gray;
  position: fixed;
  right: 20px;
  bottom: 18px;
  a {
    color: $gray;
    &:hover {
      color: #000;
    }
  }
}
